*{
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #eceef0;
    position: relative;
}

.wrapper{
    display: flex;
    position: relative;
}

nav{
    background: linear-gradient(#5899f3, #4C60EB);
    width: 75px;
    height: 100vh;
    position: fixed;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.425);
    margin-right: 25px;
}

.site{
    background-color: #eceef0;
    width: 100vw;
    height: 100vh;
    margin-left: 75px;
    z-index: -1;
}

li{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    margin-left: -23px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 14px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 1s;
}

li > img{
    transform: scale(50%);
    margin-left: -9px;
    margin-top: -25px;
    filter: invert(1);
}

li:hover{
    background-color: #4077DD;
    transition: 1s ;
}

.main_content{
    width: 100%;
    border-bottom: red;
}

.main_content .header{
    display: inline-block;
    background-color: white;
    width: 100vw;
    height: 55px;
    box-shadow: black;
}

.main_content .header .search_bar{
    position: relative;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 5px;
    min-width: 200px;
    height: 25px;
    border-width: 1px;
    border-color: #e0e1e6a8;
    border-style: solid;
    background-color: white;
    padding: 0px 30px;
    font-size: 12px;
    color: #c7c8cfbd;
    display: inline-block;
}

.search_bar p{
    margin: 0px 0px 0px 20px;
    position: absolute;
    top: 7px;
    left: 14px;
}


.lupa{
    z-index: 1;
    filter: grayscale(1);
    position: absolute;
    left: 7px;
    top: 3px;
}

.main_content .header .notify{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;

}

.main_content .header img{
    transform: scale(40%, 40%);
    margin-left: -13px;
    margin-top: -14px;
}

.main_content .header .notify:hover{
    background-color: #eceef0;
}

div.boas-vindas{
    margin-left: 25px;
    margin-top: 30px;
    color: black;
}

#invoice{
    color: white;
    background: linear-gradient(135deg, #5899f3, #4C60EB);
    width: 125px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    top: 80px
}

#invoice span{
    font-weight: bold;
    font-size: 17px;
    margin-top: -20px;
}

.menu1{
    display: inline-block;
    margin: 25px 0px 0px 25px;
    background-color: white;
    min-width: 250px;
    max-width: 350px;
    padding: 15px;
    border-radius: 5px;
    float: left;
}

.balance{
    width: 80%;
    background-color: #e0e1e65e;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.balance h3{
    margin-top: -5px;
    margin-bottom: 5px;
    color: grey;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.01em;
}

.balance p{
    font-weight: bold;
    font-size: 20px;
}

.address p{
    font-size: 15px;
    margin-top: 2px;
    color: grey;
}


.menu2{
    display: inline-block;
    margin: 25px 0px 0px 25px;
    background-color: white;
    min-width: 250px;
    max-width: 350px;
    padding: 15px;
    border-radius: 5px;
}


